/* Universal Selector */

*{
    margin:0;
    padding:0;
}

/* Element Selector */

h2{
    color:navy;
}

/* ID Selector */

#mainHeader{
    background-color:lightblue;
    text-align:center;
}

/* Class Selector */

.eventCard{
    border:1px solid gray;
    padding:20px;
}

/* Grouping Selector */

h3,p{
    font-family:Arial;
    color:#444;
}